<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery-1.12.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">租车系统</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/cust">客人查询</a></li>
                <li><a href="/gh">租赁登记</a></li>
                <li><a href="/rest">归还登记</a></li>
                <li><a href="/Sale">统计分析</a></li>
                <li><a href="/opr">类别档案</a></li>
                <li><a href="/Prod">汽车档案</a></li>
                <li><a href="/">退出系统</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">管理员：<%=yonghuming%></a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container" style="margin:60px auto;width: 80%">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#chuangjian">
        增加
    </button>
    <div class="modal fade" id="chuangjian" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div style="width: 70%;">
                        <form id="zengjia">
                            <p>
                                <span>客户名称：</span><br>
                                <input type="text" name="kehu">
                            </p>
                            <p>
                                <span>电话：</span>&nbsp;&nbsp;&nbsp;&nbsp;<br>
                                <input type="text" name="dianhua">
                            </p>
                            <p>
                                <span>住址：</span>&nbsp;&nbsp;&nbsp;&nbsp;<br>
                                <input type="text" name="zhuzhi">
                            </p>
                            <p>
                                <span>身份证号：</span>&nbsp;&nbsp;&nbsp;<br>
                                <input type="text" name="shenfenzheng">
                            </p>
                            <p><span>驾照号码：</span>&nbsp;&nbsp;&nbsp;<br>
                                <input type="text" name="jiazhao">
                            </p>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="Addbtn">提交</button>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary btn-lg edit abtn" data-toggle="modal" data-target="#bianji">
        修改
    </button>
    <div class="modal fade" id="bianji" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">编辑员工 </h4>
                </div>
                <div class="modal-body">
                    <div style="width: 70%;">
                        <form id="xiugai">
                            <p>
                                <span>客户名称：</span><br>
                                <input type="text" name="kehu" readonly = "readonly" value="">
                            </p>
                            <p>
                                <span>电话：</span>&nbsp;&nbsp;&nbsp;&nbsp;<br>
                                <input type="text" name="dianhua">
                            </p>
                            <p>
                                <span>住址：</span>&nbsp;&nbsp;&nbsp;&nbsp;<br>
                                <input type="text" name="zhuzhi">
                            </p>
                            <p>
                                <span>身份证号：</span>&nbsp;&nbsp;&nbsp;<br>
                                <input type="text" name="shenfenzheng">
                            </p>
                            <p><span>驾照号码：</span>&nbsp;&nbsp;&nbsp;<br>
                                <input type="text" name="jiazhao">
                            </p>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary update" >确定</button>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-danger btn-lg abtn" data-toggle="modal" data-target="#shanchu" >
        删除
    </button>
    <div class="modal fade" id="shanchu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">删除员工</h4>
                </div>
                <div class="modal-body">
                    <h4 style="text-align: center">删除此用户？</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="delbtn">确定</button>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-danger btn-lg fan" data-toggle="modal" data-target="#shanchu" >
        返回
    </button>
    <div>
        <table class="table table-bordered" style="text-align: center">
            <thead>
                <tr>
                    <td></td>
                    <td>行号</td>
                    <td>客户名称</td>
                    <td>电话</td>
                    <td>住址</td>
                    <td>身份证号</td>
                    <td>驾照号码</td>
                </tr>
            </thead>
            <tbody id="tbody"></tbody>
        </table>
    </div>
</div>
<script>
    $.get("/reade",function (data) {
        var num=1;
        $.each(data.result,function (i,n) {
            $tr = $("<tr></tr>");
            $("<td></td>").html('<input type="radio" data-id="' + n._id + '" name="radio" class="ipt">').appendTo($tr);
            $("<td></td>").html("000"+num++).appendTo($tr);
            $("<td></td>").html(n.kehu).appendTo($tr);
            $("<td></td>").html(n.dianhua).appendTo($tr);
            $("<td></td>").html(n.zhuzhi).appendTo($tr);
            $("<td></td>").html(n.shenfenzheng).appendTo($tr);
            $("<td></td>").html(n.jiazhao).appendTo($tr);
            $tr.appendTo($("#tbody"));
        })
    })
    $("#Addbtn").click(function () {
        var str =$("#zengjia").serialize();
        $.post("/addkehu",str,function (data) {
            if (data.s == 1) {
                alert('成功')
                window.location='/cust'
                $('input[type=text]').val(' ')
            }
            if (data.s == -1) {
                alert("服务器错误")
            }
            if (data.s == -2) {
                alert("用户名已存在")
                $('input[type=text]').val(' ')
            }
        })
    })
    // 按钮禁用
    $(".abtn").attr("disabled", "disabled");
    $('#tbody').delegate(".ipt", "click", function () {
        if ($(this).is(":checked")) {
            $(".abtn").removeAttr("disabled");
        } else {
            $(".abtn").attr("disabled", "disabled");
        }
    });
    // 修改
    $(".edit").click(function () {
        var id = $("input[name=radio]:checked").attr("data-id");
        $.ajax({
            "url":"/workDetailed/"+id,
            "type":"get",
            success:function (data) {
                if (data.s==-1){
                    alert("服务器错误")
                }else {
                    $("#xiugai input[name=kehu]").val(data.s.kehu);
                    $("#xiugai input[name=dianhua]").val(data.s.dianhua);
                    $("#xiugai input[name=zhuzhi]").val(data.s.zhuzhi);
                    $("#xiugai input[name=shenfenzheng]").val(data.s.shenfenzheng);
                    $("#xiugai input[name=jiazhao]").val(data.s.jiazhao);
                }
            }
        })
    })
    // 修改  提交
    $(".update").click(function () {
        var str =$("#xiugai").serialize();
        console.log(str)
        $.post("/update",str,function (data) {
            if (data.s==1){
                alert("修改成功");
                window.location='/cust'
            }
            if (data.s==-1){
                alert("服务器错误")
            }
        })
    })
    // 删除
    $("#delbtn").click(function () {
        var id = $("input[name=radio]:checked").attr("data-id");
        $.ajax({
            url: "/workDelbtn/" + id,
            type: "get",
            success: function (data) {
                if (data.s == 1) {
                    alert("删除成功");
                    window.location="/cust"
                } else {
                    alert("服务器错误！");
                }
            }
        });
    })
    // 返回
    $('.fan').click(function () {
        window.location="/menu"
    })
</script>
</body>
</html>